---
import { Image } from "astro:assets";
import imagenPortada from "../../public/assets/images/imagenPortadaMinor.png";
import { AnimatedSubscribeButton } from "./magicui/AnimatedSubscribeButton";

const { greeting, title, description } = Astro.props;
---

<section
  class="flex flex-col
   gap-10
   max-sm:gap-4
   first-letter:
   bg-texture-and-pattern
   bg-contain"
>
  <div
    class="w-100 h-5 bg-[var(--light-blue)] row-span-1 col-span-2 flex items-center justify-end pr-4"
  >
  </div>
  <div class="flex justify-between flex-row max-sm:flex-col gap-6 sm:pr-6">
    <div
      class="relative h-[410px] max-sm:h-fit pt-16 max-sm:pt-0 w-1/2 sm:gap-6 max-sm:w-full"
    >
      <div
        class="h-52 w-full blue-gradient rounded-r-full opacity-70 flex items-center justify-end show-up"
      >
        <div class="flex flex-col h-100 text-white text-3xl pr-10 max-sm:pr-5">
          <p>{greeting}</p>
          <p class="font-bold">Matías Gelpi</p>
        </div>
      </div>

      <Image
        class="animate-fade-right absolute top-0 left-0 w-[350px] max-sm:w-[190px] max-sm:h-[230px]"
        src={imagenPortada}
        alt="Ilustración de Matías Gelpi"
      />
    </div>
    <div
      class="flex flex-col items-center pt-16 text-[var(--main-blue)] max-sm:p-4 sm:w-1/2"
    >
      <div
        class="flex flex-col w-full font-extrabold justify-start border-b-2 border-[var(--main-blue)]"
      >
        <p
          class="text-4xl max-sm:text-2xl animate-jump-in animate-delay-300 animate-once title"
        >
          {title}
        </p>
      </div>

      <div class="text-xl max-sm:text-base flex flex-col gap-4 w-full justify-start font-bold">
        <p>{description}</p>
        <p class="font-normal">
          <span class="font-bold">+</span>Inglés B2 y mejorando!
        </p>
        <p class="font-normal">
          <span class="font-bold">+</span>Experiencia con metodologías agiles!
        </p>
        <p class="font-normal">
          <span class="font-bold">+</span>Trabajando en : <a href="https://www.tufud.co/" class="font-bold" target="_blank">Tufud!</a>
        </p>

      </div>
      <div class="flex flex-col items-center justify-center p-8 gap-8 w-full">
        <div class="flex text-white items-center justify-center">
          <AnimatedSubscribeButton
            client:load
            brand="#2e5b94"
            subscribeStatus={false}
            initialText="Descargar CV"
            changeText="Gracias por interesarte!"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .title {
    &::after {
      font-size: 16px;
      font-weight: normal;

      display: block;
      line-height: 18px;
    }

    &:hover::after {
      content: "(Sobre todo front pero mejorando en el back)";
    }
  }
</style>
